@tailwind base;
@tailwind components;
@tailwind utilities;

.scale-up {
  animation: scaleUp 0.2s ease forwards;
}

@keyframes scaleUp {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
